<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Form Activity</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Activity</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Form</h5>

              <!-- Floating Labels Form -->
              <form class="row g-3">
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">Your Name</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Department">
                    <label for="Department">Department</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Department">
                    <label for="Department">IDRevistaf ??</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="datetime-local" class="form-control" id="floatingName" placeholder="Activity Date">
                    <label for="Activity Date">Activity Date</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="datetime-local" class="form-control" id="floatingName" placeholder="Activity Deadline">
                    <label for="Activity Deadline">Activity Deadline</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingEmail" placeholder="Location">
                    <label for="floatingEmail">Location</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingClient" placeholder="Client Name">
                    <label for="floatingClient">Client Name</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingPosition" placeholder="Position">
                      <label for="floatingPosition">Position</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingPhone" placeholder="Phone Number">
                      <label for="floatingPhone">Phone Number</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="casetitle" placeholder="Case Title">
                      <label for="casetitle">Case Title</label>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Case" id="floatingTextarea" style="height: 100px;"></textarea>
                    <label for="floatingTextarea">Case Description</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Case analysis" id="floatingTextarea" style="height: 100px;"></textarea>
                    <label for="floatingTextarea">Case analysis</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Case Solving" id="floatingTextarea" style="height: 100px;"></textarea>
                    <label for="floatingTextarea">Case Solving</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="file" class="form-control" id="floatingFile" placeholder="Attach...">
                      <label for="floatingFile">Attach...</label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

<%- include ../../partials/footer.ejs %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<%- include ../../partials/js.ejs %>